<!DOCTYPE html>
	<html>
		<style>
			li a {
	    			color: white;
			}
			html {
				height: 100%;
			}
			body {
				background-image: linear-gradient(45deg, #ffccd5, #ff99aa);
				background-repeat: no repeat;
				color: white;
				font-family: verdana;
				text-align: center;
			}
			head {
				text-align: center;
			}
			body, html {
				height = 145%;
			}
			footer {
				position:fixed;
   				bottom:0;
				left:0;
				right:0;
				text-align: center;
			}
		</style>
		<head style="color:white;font-family:verdana;">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="color:white;">
	    		<ul>
	        		<li><a href="mailto:katherine.e.kemp@gmail.com">email</a></li>
				<li><a href="https://www.linkedin.com/in/katherineekemp/">LinkedIn</a></li>
	        		<li><a href="https://vsco.co/kkenmadrid/gallery">VSCO</a></li>
				</ul>
			</footer>
		</body>
	</html>
