<!DOCTYPE html>
	<html>
		<style>
      text-align:center;
      
			li a {
	    			color:white;
			}
		</style>
		<head style="color:white;font-family:verdana;">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:#ff99aa;color:white;font-family:verdana;">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="color:white;">
	    		<ul>
	        		<li><a href="mailto:katherine.e.kemp@gmail.com">email</a></li>
				<li><a href="https://www.linkedin.com/in/katherineekemp/">LinkedIn</a></li>
	        		<li><a href="https://vsco.co/kkenmadrid/gallery">VSCO</a></li>
				</ul>
			</footer>
		</body>
	</html>
